<h1>hello_friend</h1>
<p>Date: <%= date_br %></p>
<p>leanddro</p>

<ul>
  <li>
    <%= link_to 'home', root_path %>
  </li>
  <li>
    <%= link_to 'coins', coins_path %>
  </li>
  <li>
    <%= link_to 'mining types', mining_types_path %>
  </li>
</ul>